body {
    background-color: #333;
    color: #fff;
}

a {
    color: inherit;
}

em {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

h1 span,
h2 span,
h3 span,
h4 span {
    display: inline-block;
}

section h1 {
    font-size: 8vw;
}
section h1 footer {
    font-size: 50%;
}

hr {
    border: none;
    padding: 0px;
    margin: 0px;
    height: 1em;
}

blockquote {
    border-left: solid 0.3vw white;
    padding-left: 0.5em;
    color: rgba(255, 255, 255, 0.8);
}

code {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

ul,
ul li {
    overflow: hidden;
}

section {
    background-size: cover;
    background-position: center;
}

section:nth-child(4) {
    background-image: url('img/share-gacha.jpg');
}
section:nth-child(5) {
    background-image: url('img/final-flash.jpg');
}
section:nth-child(8):before {
    content: '';
    display: block;
    position: absolute;
    top: 5vw;
    left: 5vw;
    right: 5vw;
    bottom: 5vw;
    background-image: url('img/tweet.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
section:nth-child(9) {
    background-image: url('img/umapuyo.png');
    color: #333;
}
section:nth-child(9):before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}